:root {
  --primary-font: 'Open sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-color: #fff;
  --acent-color: #ff6c00;

  --main-font-color: #303030;
  --secondary-font-color: #9da4bd;

  --bg-color: #f7f7f7;
  --dark-bg-color: #191c26;

  --logo-color: #000;
  --hero-btn: #188ce8;

  --card-set-gap: 30px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--main-font-color);
  font-size: 18px;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* Base Styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #ff6c00;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.section-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid var(--acent-color);
  border-radius: 25px;
}

.btn:hover,
.btn:focus {
  background: var(--acent-color);
}

.link:hover,
.link:focus {
  color: var(--acent-color);
}

/**
  |============================
  | Header section
  |============================
*/

.header {
  background-color: var(--dark-bg-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link,
.header-phone {
  display: inline-block;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--main-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-contacts {
  margin-left: auto;
}

.header-phone {
  margin-right: 40px;
}

.header-btn {
  color: var(--main-color);
}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
  background-color: var(--dark-bg-color);
}

.hero-container {
  display: flex;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

.hero-uppertitle {
  color: rgba(157, 164, 189, 0.6);
}

.hero-desc {
  color: var(--secondary-font-color);
}

/**
  |============================
  | About section
  |============================
*/

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-right: 64px;
}

.about-content {
  flex-basis: 500px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;

  margin-bottom: 20px;
}

.about-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;

  margin-bottom: 40px;
}

.about-btn {
  color: var(--main-font-color);
}

/**
  |============================
  | Price section
  |============================
*/

.price {
  background-color: #111319;
  background-image: url(../images/price/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-uppertitle {
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  color: var(--main-color);
  margin-bottom: 44px;
}

.price-list {
  display: flex;
  margin-bottom: 50px;
}

.price-item {
  width: 50%;
  padding: 30px 40px;
}

.price-inner-item {
  margin-bottom: 20px;

  line-height: calc(30 / 18);
  color: #9da4bd;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Why section
  |============================
*/

.why > .container {
  display: flex;
  justify-content: center;
}

.why-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.why-item {
  text-align: center;
  background: #f7f7f7;

  width: 170px;
  padding: 20px 20px;
}

.why-item-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.why-item-plus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.why-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.why-content {
  width: 500px;
}

/**
  |============================
  | Masters section
  |============================
*/

.masters {
  background: #f7f7f7;
}
.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  text-align: center;

  display: flex;
  gap: 30px;
}

.masters-item-img {
  margin-bottom: 20px;
}

.masters-social-content {
  align-items: center;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--acent-color);

  margin-bottom: 30px;
}

.masters-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--main-font-color);
}

/**
  |============================
  | Portfolio section
  |============================
*/

.portfolio-uppertitle {
  margin-bottom: 44px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
}

/**
  |============================
  | Contacts section
  |============================
*/
.contacts {
  background: #191c26;
}

.overlay {
  background-size: 625px;
  background-image: url(../images/contacts/Bg.png);
  background-repeat: no-repeat;
  background-position: 76%;
}
.contacts .container {
  display: flex;
}

.contacts-form-title {
  color: var(--main-color);
}

.contacts-group {
  margin-left: 100px;
}

.contacts-title {
  color: var(--main-color);
}

.contacts-item {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.time-uppertitle {
  color: var(--main-color);
}

.time-text {
  color: #9da4bd;
}

/**
  |============================
  | Footer section
  |============================
*/

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
}

.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  display: block;
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-item + .footer-item {
  margin-left: 40px;
}
