.about {
  @include section;

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 30px;
    margin-right: 64px;
  }

  &__content {
    flex-basis: 500px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;

    @include fonts(18px, 30px);
  }

  &__desc {
    margin-bottom: 40px;

    @include fonts(14px, 26px);
  }

  &__btn {
    color: var(--main-dark-cl);
  }
}
