.benefits {
  @include section;

  &__container {
    display: flex;
  }

  &__group {
    flex-basis: 500px;
    margin-left: auto;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 370px;
    margin: 0 auto;
  }
}

.benefits__item {
  width: 170px;
  min-height: 133px;
  padding: 20px;

  background-color: var(--bg-cl);
  text-align: center;

  &:nth-child(2n + 1) {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

.benefits__item-quantity {
  display: flex;
  justify-content: center;

  @include fonts(42px, 57px, 700, 0.05em);
  text-align: center;

  &::after {
    content: '\002b';
    display: block;

    @include fonts(16px, 22px, 600);
    font-style: normal;
    color: var(--accent-cl);
  }
}

.benefits__item-desc {
  @include fonts(11px, 15px, 600, 0.1em);
}
