.contacts {
  @include section;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/contacts/Bg.png);
  background-repeat: no-repeat;
  background-position: top 0 left calc(50% + 328px);

  &__container {
    display: flex;
  }

  &--left-side,
  &--right-side {
    flex-basis: 50%;
  }

  &--right-side {
    padding-left: 100px;
  }

  &__form-title {
    margin-bottom: 44px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__link {
    @extend %reset-link;
    display: flex;
    align-items: center;
    gap: 16px;

    @include fonts(18px, 30px);
    font-style: normal;
    color: var(--secondary-font-cl);
  }

  &__uppertitle {
    color: var(--main-light-cl);
  }

  &__time {
    color: var(--secondary-font-cl);
  }
}

.contacts__item {
  margin-bottom: 70px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
