.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9da4bd;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &:before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.footer__link {
  @extend %reset-link;
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
