.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 100;

  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);

  &--no-transparency {
    background-color: rgba(25, 28, 38, 0.5);
    backdrop-filter: blur(4px);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 70px;
  }

  &__contacts {
    margin-left: auto;
  }

  &__btn {
    color: var(--main-color);
  }
}

.header__phone {
  @extend %reset-link;
  margin-right: 40px;

  display: inline-block;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--main-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
