.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);

  &--no-transparency {
    background-color: rgba(25, 28, 38, 0.5);
    backdrop-filter: blur(4px);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 70px;
  }

  &__contacts {
    margin-left: auto;
  }
}

.header__phone {
  @extend %reset-link;

  display: inline-block;
  margin-right: 40px;
  padding-top: 52px;
  padding-bottom: 52px;

  @include fonts(12px, 16px, 600, 0.1em);
  color: var(--main-light-cl);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
