.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 40px;
  }
}

.nav__link {
  display: inline-block;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--main-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
