.swiper {
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -1;
  // margin: 0 auto;
  width: 570px;
  height: 680px;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
}

.swiper-slide {
  z-index: -1;
}

.swiper__controls {
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }

  position: absolute;
  right: 20px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 26px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  height: fit-content;
  padding-bottom: 8px;

  @include fonts(11px, 15px, 600, 0.1em);
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.swiper-button-next {
  width: 70px;
  justify-content: right;
}

.swiper-button-prev {
  width: 60px;
  left: 400px;
  justify-content: left;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

// .slider-btn.disabled {
//   text-align: left;
//   color: rgba(157, 164, 189, 0.6);
//   border-bottom: 1px solid rgba(157, 164, 189, 0.6);
// }

// .pagination {
//   @media screen and (max-width: calc($tablet - 1px)) {
//     display: none;
//   }

//   position: absolute;
//   top: 50%;
//   right: 8px;
// }

// .pagination-item {
//   margin-left: auto;
//   margin-bottom: 12px;
//   width: 8px;
//   height: 2px;

//   background-color: var(--secondary-font-cl);
// }

// .pagination-item:last-child {
//   margin-bottom: 0;
// }

// .pagination-item.active {
//   width: 18px;
//   background-color: var(--main-light-cl);
// }
